// CARD CATEGORY DESIGN

// CARD CONTAINER
.card-container {
  margin-top: 40px;
  width: 100%;
  display: grid;
}

// reponsive
@media (min-width: 640px) {
  .card-container {
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr) );
  }
}
@media (min-width: 768px) {
  .card-container {
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr) );
  }
}
@media (min-width: 1024px) {
  .card-container {
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr) );
  }
}
@media (min-width: 1280px) {
  .card-container {
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr) );
  }
}
@media (min-width: 1536px) {
  .card-container {
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr) );
  }
}

// CARD OVERALL DESIGN
.card {
  background-color: white;
  border-radius: 1px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.75);
  height: 350px;
  margin: 0 auto;
  width: 600px;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
}

// responsive
@media (max-width: 580px) {
  .card {
    height: 350px;
    overflow: visible;
  }
}

// CARD LEFT DESIGN
.card-left {
  width: 50%;
  height: 100%;
}

// card photo
.card-photo {
  width: 100%;
  height: 100%;
}

.card-photo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// CARD RIGHT DESIGN
.card-right {
  width: 50%;
  height: 100%;
}

// CARD TOP CONTENT
.top-content {
  width: 100%;
  height: 30%;
}

// card user buttons
.user-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.user-buttons i {
  color: #DF5A25;
  font-size: 16px;
  margin-right: 10px;
}

// card title
.card-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title h3 {
  margin-top: 20px;
  font-size: 32px;
  color: #DF5A25;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// card divider
.divider {
  background: #DF5A25;
  height: 2px;
  margin: 5px auto;
  width: 40px;
}

// CARD BOTTOM DESIGN
.bottom-content {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

// card description
.card-description {
  width: 100%;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.card-description p {
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// card attachment button
.card-attachment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
}

.attachment-button {
  background-color: #DF5A25;
  height: 40px;
  width: 160px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attachment-button a {
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  &:hover {
    color: black;
  }
}
