<div class="footer-container">
  <div class="foot-links">
    <li class="nav-items">
      <%= mail_to "valeriea2@wanadoo.fr", 'Contact' %>
    </li>
    <li class="nav-items">
      <%= link_to "Administateur", new_user_session_path, class: "nav-link" %>
    </li>
    <li class="nav-items">
      <a href="https://sante-sociaux.cfdt.fr/portail/sante-sociaux-recette_10420" target="_blank">Site cfdt santé sociaux</a>
    </li>
  </div>
</div>
