// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.banner {
  margin-top: 80px;
  margin-bottom: 40px;
  width: 100%;
}

.banner img {
  width: 60%;
}

// ARTICLES CONTAINER
.articles-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

// ARTICLES EDIT
.edit-articles-container {
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.edit-articles-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// NEW ARTICLE
.new-article-container {
  margin-top: 80px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.new-article-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

// TITLES
.container-title {
  width: 100%;
  background-color: rgb(228, 227, 227);
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.title {
  background-color: #DF5A25;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h2 {

  color: white;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #DF5A25;
}

.nao-container {
  margin-bottom: 40px;
  margin-top: 20px;
}
